# copy file nay, doi ten thanh .env roi dien pass vao

# cau hinh database
MY_DB_USER=nhap_user_vao_day
MY_DB_PASS=nhap_pass_vao_day

# cau hinh minio
MINIO_ROOT_USER=nhap_user_vao_day
MINIO_ROOT_PASSWORD=nhap_pass_vao_day

# cau hinh rabbitmq
RABBITMQ_USER=nhap_user_vao_day
RABBITMQ_PASS=nhap_pass_vao_day
