# ===== BUILD =====
target/
build/
*.log

# ===== ENV / SECRET =====
.env
.env.*
application-local.properties
application-secret.properties

# ===== MAVEN =====
.mvn/wrapper/maven-wrapper.jar

# ===== IDE =====
.idea/
*.iws
*.iml
*.ipr

# ===== STS =====
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ===== NETBEANS =====
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ===== VSCODE =====
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db